apiVersion: v1
kind: Secret
metadata:
  name: {{ include "gcp-serviceaccount-controller.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "gcp-serviceaccount-controller.name" . }}
    helm.sh/chart: {{ include "gcp-serviceaccount-controller.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}    
data:
  credentials.json: "{{ .Values.gcpCredentials }}"
