name: ci
on: [pull_request]

jobs:
  lint-chart:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: debug  
        run: printenv | sort
      - name: Run chart-testing (lint)
        uses: monotek/chart-testing-action@lintwithoutkind
        with:
          command: lint
          config: /home/runner/work/helm-charts/helm-charts/.ci/ct.yaml

  install-chart:
    name: install-chart
    runs-on: ubuntu-latest
    needs: lint-chart
    strategy:
      matrix:
        k8s: 
          - v1.11.10
          - v1.12.10
          - v1.13.10
          - v1.14.6
          - v1.15.3
          - v1.16.2
          - v1.17.0
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Create kind cluster
        uses: monotek/kind-action@checkforchanges
        with:
          config: /home/runner/work/helm-charts/helm-charts/.ci/kind-config.yaml
          installLocalPathProvisioner: true
          node-image: ${{ matrix.k8s }}
      - name: Run chart-testing (install)
        uses: monotek/chart-testing-action@lintwithoutkind
        with:
          command: install
