name: ci

on: 
  pull_request:

jobs:
  lint-bash-scripts:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Lint Bash scripts
        uses: docker://koalaman/shellcheck-alpine:v0.7.0
        with:
          args: ./github/lint-scripts.sh

  check-for-chart-changes:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Check for chart changes    
        run: ./github/check-for-chart-changes.sh

  lint-chart:
    runs-on: ubuntu-latest
    needs: check-for-chart-changes
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Run chart-testing (lint)
        uses: helm/chart-testing-action@master
        with:
          command: lint
          config: ./github/ct.yaml

  install-chart:
    name: install-chart
    runs-on: ubuntu-latest
    needs: lint-chart
    strategy:
      matrix:
        k8s: 
          - v1.11.10
          - v1.12.10
          - v1.13.12
          - v1.14.9
          - v1.15.6
          - v1.16.3
          - v1.17.0
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Create kind cluster
        uses: monotek/kind-action@kind070
        with:
          config: .ci/kind-config.yaml
          node-image: kindest/node:${{ matrix.k8s }}
      - name: Run chart-testing (install)
        uses: helm/chart-testing-action@master
        with:
          command: install
          config: ./github/ct.yaml
