name: ci
on:
  push:
    branches: [master]

jobs:
  lint-scripts:
    name: lint-scripts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: lint scripts
        uses: docker://koalaman/shellcheck-alpine:v0.7.0
        with:
          args: /github/workspace/.ci/lint-scripts.sh

  lint-chart:
    name: lint-chart
    runs-on: ubuntu-latest
    needs: lint-scripts
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: lint chart
        uses: docker://quay.io/helmpack/chart-testing:v2.4.0
        with:
          args: /github/workspace/.ci/lint-chart.sh       

  deploy-chart:
    name: deploy-chart
    runs-on: ubuntu-latest
    needs: lint-chart
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: deploy chart
        run: ${RUNNER_WORKSPACE}/helm-charts/.ci/deploy-chart.sh
